[package]
name = "kos-sdk"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["serde"]
serde = ["bitcoin/serde"]

[dependencies]
strum = { version = "0.25", features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde-wasm-bindgen = "0.5"
enum_delegate = { workspace = true }
enum_dispatch = "0.3"

log = { workspace = true }
wasm-bindgen = { workspace = true }
base58 = { workspace = true }
bech32 = { workspace = true }
hmac = { workspace = true }
hex = { workspace = true }
rand = { workspace = true }
coins-bip39 = { workspace = true }
pem = "3"
web3 = { version = "0.19.0", default-features = false, features = ["http-tls", "wasm"] }
bitcoin = { version = "0.30" }
secp256k1 = { workspace = true, features = ["serde", "bitcoin_hashes"] }
rlp = "0.5"

reqwest = { workspace = true, default-features = false, features = ["rustls-tls", "blocking", "json"] }
wasm-bindgen-futures = "0.4"

lazy_static = { workspace = true }

kos-types = { workspace = true, features = ["serde"] }
kos-crypto = { workspace = true }
kos-proto = { workspace = true }
kos-utils = { workspace = true }
pbjson = { workspace = true }
pbjson-types = { workspace = true }
prost = { workspace = true }
alloy-dyn-abi = { version = "0.8.5", features = ["eip712"] }

[dev-dependencies]
tokio-test = "*"
dotenvy = "0.15.7"

[build-dependencies]
dotenv-build = "0.1"

[patch.crates-io]
derive_more = "=1.0.0"