[package]
name = "kos-sdk"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
strum = { version = "0.24", features = ["derive"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
enum_delegate = { workspace = true }
enum_dispatch = "0.3"

log = { workspace = true }
wasm-bindgen = { workspace = true }
base58 = { workspace = true }
bech32 = { workspace = true }
hmac = { workspace = true }
hex = { workspace = true }
rand = { workspace = true }
coins-bip39 = { workspace = true }
pem = "2"
ciborium = "0.2"
ethereum-types = "0.14"
web3 = "0.18"
secp256k1 = { workspace = true, default-features = false }
rlp = "0.5"

reqwest = { workspace = true, features = ["blocking", "json"] }
wasm-bindgen-futures = "0.4"

kos-types = { workspace = true, features = ["serde"] }
kos-crypto = { workspace = true }
kos-proto = { workspace = true }
pbjson = { workspace = true }
pbjson-types = { workspace = true }
prost = { workspace = true }

[dev-dependencies]
tokio-test = "*"
