[bans]
multiple-versions = "deny"
deny = [
    { name = "libssh2-sys" },
]
skip = [
    { name = "bitflags", version = "=1.3.2" }, # openssl
    { name = "base64", version = "<=0.22" }, # openssl
    { name = "idna", version = "=0.4.0" }, #
    { name = "winreg", version = "<=0.52" },
    { name = "http", version = "<=1.1" },
    { name = "http-body", version = "<=1.0.0" },
    { name = "hyper", version = "<=1.3.1" },
    { name = "reqwest", version = "<=0.12.4" },
    { name = "rustls-pemfile", version = "1.0.4" },
    { name = "derive_more", version = "0.99.17" }
]
skip-tree = [
    { name = "prost-wkt-types", version = "=0.4.2", depth = 20 }, # prost-wkt-build
    { name = "prost-wkt-build", version = "=0.4.2", depth = 20 }, # prost-wkt-build
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[sources.allow-org]
github = ["klever-io"]

[licenses]
confidence-threshold = 0.8
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    "MITNFA",
    "BSD-3-Clause",
    "CC0-1.0",
    "ISC",
    "MPL-2.0",
    "OpenSSL",
]
exceptions = [
    { name = "unicode-ident", allow = ["Unicode-DFS-2016"] },
]

[[licenses.clarify]]
name = "ring"
# SPDX considers OpenSSL to encompass both the OpenSSL and SSLeay licenses
# https://spdx.org/licenses/OpenSSL.html
# ISC - Both BoringSSL and ring use this for their new files
# MIT - "Files in third_party/ have their own licenses, as described therein. The MIT
# license, for third_party/fiat, which, unlike other third_party directories, is
# compiled into non-test libraries, is included below."
# OpenSSL - Obviously
expression = "ISC AND MIT AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
