name: Release KOS-RS

on:
  push:
    branches:
      - develop
    paths-ignore:
      - README.md
      - .gitignore
      - .github/**
    
jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      USER: ${{ secrets.GIT_USER }}
      TOKEN: ${{ secrets.GIT_PASS }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: RustUp
        uses: klever-io/kos-rs/.github/actions/rustup@develop
        with:
          with_cache: true

      - name: Build
        run: make webpack-npm

      - name: Setup npm module
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org/'
          scope: '@klever'
          always-auth: true

      - name: Tag Release
        uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: minor

      - name: Publish npm module
        run: npm publish ./demo/kos --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
